<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta name = viewport content=initial-scale=1, width=device-width>
        <title> shows </title>
    </head>

    <body>
        <form action="/search" method="get">
            <input autocomplete="off" autofocus name="q" placeholder="Query"  type="search">
            <input type="submit" value="Search">
        </form>

        <ul></ul>

        <script>

            let input = document.querySelector('input');
            input.addEventListener('input', async function() {
                let response = await fetch('/search?q=' + input.value);
                let shows = await response.text();
                document.querySelector('ul').innerHTML = shows;
        });

        </script>
    </body>

    </html>
