{% extends "layout.html" %}
{% block body %}

<h1> Register </h1>
<form action="/register" method = "post">
    <input autocomplete="off" autofocus name="name" placehoder="Name" type="text">
    <select name="sport">
        <option disable selected>Sport</option>
        <option>Basketball</option>
        <option>Soccer</option>
        <option>Ultimate Frisbee</option>
    </select>
    <input type="submit" value="Register">
</form>
<p></p>
<div>
<b>Second form</b>
</div>
<p></p>
<form action="/register" method = "post">
    <input autocomplete="off" autofocus name="name" placehoder="Name" type="text">
    <p></p>
        <option disable selected>Sport</option>
        <p></p>
        {% for sport in sports %}
        <input name="sport" type="radio" value="{{sport}}">{{sport}}
        {% endfor %}
    <input type="submit" value="Register">
</form>

{% endblock %}