<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Vanya tochevska Portfolio</title>
    </head>
    <body class="bg-white" style="text-align: center">
        <div class="container-fluid">
            <ul class="nav" action="/">
                <li class="ms-auto nav-item"> <a class="nav-link text-dark" href="/">Home</a></li>
                </li>
                <li> <a class="nav-link text-dark" href="/">About</a></li>
                </li>
                <li> <a class="nav-link text-dark" href="/">Contact</a></li>
                </li>
            </ul>
        </div>
        <h1>
            Hello and welcome to Investment Calculator
        </h1>
        <p>
            Submit your details below and see how your invesment can change overtime. 
        </p>
        <h3>
            Investment Calculator
        </h3>
        <table align="center" width="500" height="80">
            <thead>
                <tr>
                    <td align="center" width="500"><strong>Submit details</strong></td>
                </tr>
            </thead>


        <table align="center" width="500">
            <tbody align="left">
                <tr>
                    <td width="50"><img src="static/house.png" alt="house" width="30"></td>
                    <td>Purchase price</td>
                    <td>
                        <input type="text" placeholder="Purchase price"> 
                    </td>
                </tr>       
                <tr>    
                    <td width="50"><img src="static/house.png" alt="house" width="30"></td>
                    <td>Deposit</td>
                    <td>
                        <input type="text" placeholder="Deposit"> 
                    </td>
                </tr>
                <tr>  
                    <td width="50"><img src="static/house.png" alt="house" width="30"></td>
                    <td>Term</td>
                    <td>
                        <input type="text" placeholder="Term in years"> 
                    </td>
                </tr>  
                <tr> 
                    <td width="50"><img src="static/house.png" alt="house" width="30"></td>
                    <td>Mortgage amount</td>
                    <td>
                        <input
                        <input type="text" placeholder="Mortgage amount"> 
                    </td>

                </tr>
            </tbody>
            
        </table>
        <p></p>
        <div align="center" heigh="200">
            View results
        
        </div>

        <table align="center" heigh="200">
            <tr>
                <form action = "/" method="get">
                    <input type="submit" value="Submit">  
                </form>
            </tr>
        </table>


        <p>
                <form action = "/" method="get">
                    <input type="submit" value="Return">  
                </form>
        </p>
    </body>
</html>